HS256 secret is no longer accepted. 

We are using HS256 symmetric key algorithm for router authentication https://www.apollographql.com/docs/router/configuration/authn-jwt#symmetric-key-algorithms-such-as-hmac

Working HS256 secrets on v1.39.0 are no longer working on v1.40.0 . Router is throwing `jwt authentication failure Cannot create decoding key: Base64 error: Invalid padding` error.

The key I am using is base64 encoded `APOLLO_ROUTER_LOCAL_TEST_SECRET` => `QVBPTExPX1JPVVRFUl9MT0NBTF9URVNUX1NFQ1JFVA==`

When I remove `==` from the end and use `QVBPTExPX1JPVVRFUl9MT0NBTF9URVNUX1NFQ1JFVA` , it works fine. But, `QVBPTExPX1JPVVRFUl9MT0NBTF9URVNUX1NFQ1JFVA==` is the valid base64.



This is due to an update of the JWT verification library we are using. They went with a strict parsing that applies the RFC:
* the "k" parameter must be in URL safe base64: https://datatracker.ietf.org/doc/html/rfc7518#section-6.4.1
* URL safe base64 is defined in those RFCs as the version without padding: https://datatracker.ietf.org/doc/html/rfc7515#section-2
> Base64 encoding using the URL- and filename-safe character set
      defined in [Section 5 of RFC 4648](https://datatracker.ietf.org/doc/html/rfc4648#section-5) [[RFC4648](https://datatracker.ietf.org/doc/html/rfc4648)], with all trailing '='
      characters omitted (as permitted by [Section 3.2](https://datatracker.ietf.org/doc/html/rfc7515#section-3.2)) and without the
      inclusion of any line breaks, whitespace, or other additional
      characters.  Note that the base64url encoding of the empty octet
      sequence is the empty string.  (See [Appendix C](https://datatracker.ietf.org/doc/html/rfc7515#appendix-C) for notes on
      implementing base64url encoding without padding.)

it is not that the version with `==` is the valid one here: there are multiple ways to encode in base64, and the one they chose does not include that padding. So you should be fine removing it

Thank @Geal for the explanation. 

Don't you think this is a breaking change and deserves a section in the release notes? Also wondering, how this hasn't been captured by your unit/integration tests?

And Apollo docs still uses `==` https://www.apollographql.com/docs/router/configuration/authn-jwt#symmetric-key-algorithms-such-as-hmac

<img width="770" alt="image" src="https://github.com/apollographql/router/assets/104758796/1cae5343-bb6a-4e67-bdcd-a31ebc734417">


You're right that we should call it out clearly and fix the docs, I'll get to it. This has been caught by the tests, but was considered a bugfix, since it was not following the specification. Are you using a key that you generated yourself, or is the JWKS with the invalid padding coming from an external IdP?

@Geal 

It seems only custom generated preshared secrets are affected. 